#allText{
	text-align: center;
	padding: 15px;
	font-family: sans-serif;
}

a:link{
	color: white;
}

a:visited{
	color: yellow;
}

a:hover{
	color: lightgreen;
}

body{
	background-image: url("images/blue.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}

h1{
	color: aqua;
}

h2,h3,h4,h5,h6{
	color: aqua;
}

.link{
	padding: 20px;
}